.twitter-typeahead,
.tt-hint,
.tt-input,
.tt-menu{
    width: auto ! important;
    font-weight: normal;

}
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.tagCell{
  border-style: groove;
    border-width: medium;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
  /* border-style: groove;
  border: 2px;
  border-color: red;
  border-width: thin; */
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}
